body {
  margin: 30px 50px;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: sienna;
    font-size: 16px;
}

canvas, svg {
    display: block;
    padding: 20px 0;
}

.payload {
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #ccc;
    padding: 15px;
}

.join {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {

    .join-md {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
